<launch>
    <!-- Define the argument with a default value -->
    <arg name="text" default="Hello, ROS2!" />

    <!-- Define the node to be launched -->
    <node
        pkg="task02"
        exec="publisher"
        output="screen"
    >
        <!-- Pass the argument value as a parameter -->
        <param name="text" value="$(var text)" />
    </node>
</launch>
